<div class="gradient-container" id="date-range-container">
  <div class="jumbotron">
    <div class="jumbotron-title">
      <h3 class="title">Date Range</h3>
    </div>
    <div class="jumbotron-inner-content" id="date-inner-content">
      <div class="date-input-container">
        <span>Start Date:</span>
        <input type="date" id="start_date" name="start_date" />
      </div>
      <div class="date-input-container">
        <span>End Date:</span>
        <input type="date" id="end_date" name="end_date" />
      </div>
    </div>
  </div>
</div>
