{% extends "_base.html" %}
<!-- Static -->
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock extra_css %}
<!-- Título -->
{% block title %}
  About
{% endblock title %}
<!-- Contenido -->
{% block content %}
  <template id="plus-svg">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-plus-square"
         viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
  </template>
  <template id="dash-svg">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-dash-square"
         viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
    </svg>
  </template>
  <div class="top-title">
    <h1>About Me</h1>
  </div>
  <div class="container">
    <div class="title-container">
      <div class="svg-title" id="briefcase-container">
        <svg id="briefcase"
             xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="bi bi-briefcase-fill"
             viewBox="0 0 16 16">
          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5" />
          <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85z" />
        </svg>
      </div>
      <h1>Professional Experience</h1>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Corredores de Bolsa S.A.
            <br />
            <em>Investment Advisor</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            May 2015 – Nov 2023</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Executed critical swaps operations with precision, handling complex
            calculations within tight deadlines.
          </li>
          <li>
            Designed automated programs to track mark-to-market and gains/losses of
            the company's Derivatives portfolio, alongside tracking sensitivities to
            interest rate and foreign exchange rate risks.
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Corredores de Bolsa S.A.
            <br />
            <em>Derivatives Trader</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Mar 2012 – Apr 2015</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Conducted quantitative analysis to support decision-making in new
            investments.
          </li>
          <li>Automated financial reports using web-scraping techniques.</li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Seguros de Vida S.A.
            <br />
            <em>Equity Research Analyst</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Jul 2010 – Feb 2012</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Produced investment recommendation reports and strategic insight
            dashboards.
          </li>
        </ul>
      </div>
    </div>
    <div class="title-container">
      <div class="svg-title" id="education-container">
        <svg id="mortorboard"
             xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="bi bi-mortarboard-fill"
             viewBox="0 0 16 16">
          <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z" />
          <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
        </svg>
      </div>
      <h1>Education</h1>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            Universidad de Chile
            <br />
            <em>MSc in Finance</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Feb 2009 – Jun 2010</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Thesis: "Stock Market Reaction to a Catastrophic Shock: Evidence from
            the Chilean Market", awarded as "Best Thesis" during the XXVI National
            Meeting of Administration and Economics Faculties.
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <h2>
          Universidad Católica Boliviana
          <br />
          <em>Bachelor in Business Engineering</em>
        </h2>
      </div>
      <div class="grid-item">
        <p>
          <em>La Paz, Bolivia
            <br />
          Feb 2002 – Apr 2008</em>
        </p>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <h2>
          Universidad Católica Boliviana
          <br />
          <em>Diploma in Management and Managerial Development</em>
        </h2>
      </div>
      <div class="grid-item">
        <p>
          <em>La Paz, Bolivia
            <br />
          May 2008 – Mar 2009</em>
        </p>
      </div>
    </div>
    <div class="title-container">
      <div class="svg-title" id="skills-container">
        <svg id="cpu"
             xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="bi bi-cpu-fill"
             viewBox="0 0 16 16">
          <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
          <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5" />
        </svg>
      </div>
      <h1>Skills</h1>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Data Scientist</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Strong programming skills in Python, demonstrated by creating a
            sophisticated framework for valuing derivative instrument portfolios.
          </li>
          <li>
            Developed advanced Machine Learning models for trading, using TensorFlow
            and scikit-learn libraries.
          </li>
          <li>
            Built automated dashboards and reports using web-scraping techniques,
            data processing, and visualization tools such as Power BI, Tableau, and
            Streamlit.
          </li>
          <li>
            Solid knowledge of SQL, PL-SQL, and ETL processes for efficient data
            retrieval, manipulation, and transformation in database environments.
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Full Stack Web Developer</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Proven experience in developing dynamic web applications using the
            Django framework and containerizing applications with Docker.
          </li>
          <li>
            Proficient in Git for efficient version control and collaborative
            development on platforms like GitHub.
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Languages</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>Advanced English and native Spanish.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="{% static 'js/toogleBullets.js' %}"></script>
  <script src="{% static 'js/expandIcon.js' %}"></script>
{% endblock content %}
