{% extends "_base.html" %}
<!-- Static -->
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock extra_css %}
<!-- Título -->
{% block title %}
  About
{% endblock title %}
<!-- Contenido -->
{% block content %}
  <template id="plus-svg">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-plus-square"
         viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
  </template>
  <template id="dash-svg">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-dash-square"
         viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
    </svg>
  </template>
  <h1>About Me</h1>
  <div class="container">
    <h1>Professional Experience</h1>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Corredores de Bolsa S.A.
            <br />
            <em>Investment Advisor</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            May 2015 – Nov 2023</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Executed critical swaps operations with precision, handling complex
            calculations within tight deadlines.
          </li>
          <li>
            Designed automated programs to track mark-to-market and gains/losses of
            the company's Derivatives portfolio, alongside tracking sensitivities to
            interest rate and foreign exchange rate risks.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Corredores de Bolsa S.A.
            <br />
            <em>Derivatives Trader</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Mar 2012 – Apr 2015</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Conducted quantitative analysis to support decision-making in new
            investments.
          </li>
          <li>Automated financial reports using web-scraping techniques.</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            EuroAmerica Seguros de Vida S.A.
            <br />
            <em>Equity Research Analyst</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Jul 2010 – Feb 2012</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Produced investment recommendation reports and strategic insight
            dashboards.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <h1>Education</h1>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">
            Universidad de Chile
            <br />
            <em>MSc in Finance</em>
          </h2>
        </div>
        <div class="grid-item">
          <p>
            <em>Santiago, Chile
              <br />
            Feb 2009 – Jun 2010</em>
          </p>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Thesis: "Stock Market Reaction to a Catastrophic Shock: Evidence from
            the Chilean Market", awarded as "Best Thesis" during the XXVI National
            Meeting of Administration and Economics Faculties.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="grid-container">
      <div class="grid-item">
        <h2>
          Universidad Católica Boliviana
          <br />
          <em>Bachelor in Business Engineering</em>
        </h2>
      </div>
      <div class="grid-item">
        <p>
          <em>La Paz, Bolivia
            <br />
          Feb 2002 – Apr 2008</em>
        </p>
      </div>
    </div>
    <br />
    <div class="grid-container">
      <div class="grid-item">
        <h2>
          Universidad Católica Boliviana
          <br />
          <em>Diploma in Management and Managerial Development</em>
        </h2>
      </div>
      <div class="grid-item">
        <p>
          <em>La Paz, Bolivia
            <br />
          May 2008 – Mar 2009</em>
        </p>
      </div>
    </div>
    <br />
    <h1>Skills</h1>
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Data Scientist</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Strong programming skills in Python, demonstrated by creating a
            sophisticated framework for valuing derivative instrument portfolios.
          </li>
          <li>
            Developed advanced Machine Learning models for trading, using TensorFlow
            and scikit-learn libraries.
          </li>
          <li>
            Built automated dashboards and reports using web-scraping techniques,
            data processing, and visualization tools such as Power BI, Tableau, and
            Streamlit.
          </li>
          <li>
            Solid knowledge of SQL, PL-SQL, and ETL processes for efficient data
            retrieval, manipulation, and transformation in database environments.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Full Stack Web Developer</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>
            Proven experience in developing dynamic web applications using the
            Django framework and containerizing applications with Docker.
          </li>
          <li>
            Proficient in Git for efficient version control and collaborative
            development on platforms like GitHub.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="item-container">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="svg-container">Languages</h2>
        </div>
      </div>
      <div class="bullet-list">
        <ul>
          <li>Advanced English and native Spanish.</li>
        </ul>
      </div>
    </div>
    <br />
  </div>
  <!-- JavaScript -->
  <script src="{% static 'js/toogleBullets.js' %}"></script>
  <script src="{% static 'js/expandIcon.js' %}"></script>
{% endblock content %}
