{% extends "_base.html" %}
<!-- Static -->
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock extra_css %}
<!-- Título -->
{% block title %}
  Home
{% endblock title %}
<!-- Contenido -->
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="home-container">
    <br>
    <img id="profile-pic"
         src="{% static 'images/me.jpg' %}"
         alt=""
         width="300"
         height="auto" />
    <br>
    <br>
    <h1 id="cool-name">MARCELO BARRERO</h1>
    <h2>Quant Trader</h2>
    <p>
      A proactive, adaptable, and collaborative professional with over 14 years of
      experience in the financial sector.
      <br>
      <br>
      Proven track record of success as a trader
      and analyst, demonstrating exceptional analytical skills and a strategic
      approach to decision-making.
    </p>
    <br>
    <button>
      <a href="{% static 'documents/CV.pdf' %}" download>Download CV</a>
    </button>
  </div>
  <!-- JavaScript -->
  <script src="{% static 'js/messageSuccess.js' %}"></script>
  <!-- end -->
{% endblock content %}
