{% extends "_base.html" %}
<!-- Static -->
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock extra_css %}
<!-- Título -->
{% block title %}
  Marcelo Barrero
{% endblock title %}
<!-- Contenido -->
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <canvas id="candlestick" width="100vw" height="100vh"></canvas>
  <canvas id="waves" width="100vw" height="100vh"></canvas>
  <img id="profile-pic" src="{% static 'images/marcelo_t.png' %}" alt="" width="600" height="auto" />
  <div class="download-cv-shape">
    <a href="{% static 'documents/CV.pdf' %}" download>
      <div class="down-cv-text-container">Download CV</div>
      <div class="svg-container">
        <img id="svg-cv" src="{% static "images/resume2.svg" %}" alt="Resume" width="40" height="auto">
      </div>
    </a>
  </div>
  
  <div id="first-name">
    <span>Marcelo</span>  
  </div >
  <div id="last-name">
    <span>Barrero</span>
  </div>
  <h2 id="quant">Quant Trader</h2>
  <!-- JavaScript -->
  <script src="{% static 'js/messageSuccess.js' %}"></script>
  <script src="{% static "js/candlestick.js" %}"></script>
  <script src="{% static "js/waves.js" %}"></script>
  <!-- end -->
{% endblock content %}
