{% extends "_base.html" %}
<!-- Static -->
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
{% endblock extra_css %}
<!-- Título -->
{% block title %}
    Portfolio · Marcelo Barrero
{% endblock title %}
<!-- Contenido -->
{% block content %}
    <div class="portfolio-title">
        <h1>Portfolio</h1>
    </div>
    <div class="card portfolio-container">
        <a href="{% url "sm-home" %}" target="_blank">
            <img class="card-img-top" src="{% static "images/swpm.jpeg" %}" alt="swpm.jpeg" height="300" width="auto">
            <h3 class="card-title">Swap Manager: USD vs SORF Swap Valuation</h3>
            <p class="card-text">
                A powerful tool designed for pricing USD vs SOFR interest rate swaps, empowering users to customize Spot Rates and swap cashflow details effortlessly. The calculator swiftly computes Discount Factors, Reset Rates, and Present Values for each leg, providing a comprehensive view of the swap. With the added convenience of downloading swap curves and associated discount factors directly to an Excel file, financial analysis becomes seamless.
            </p>
            <p class="card-text">
                This project was meticulously crafted using Python, JavaScript, the Django Framework, and the HTMX library.
            </p>
        </a>
    </div>
    <br>
    <div class="card portfolio-container">
        <a href="{% url "po-home" %}" target="_blank">
            <img class="card-img-top" src="{% static "images/po.png" %}" alt="po.png" height="300" width="auto">
            <h3 class="card-title">Portfolio Optimization</h3>
            <p class="card-text">
                Discover "Portfolio Optimization," a powerful web application designed to enhance investment portfolio construction. Users navigate seamlessly, selecting from a comprehensive array of US S&P and Chile IPSA stocks to craft personalized portfolios. 
            </p>
            <p class="card-text">
                Leveraging Markowitz's renowned Modern Portfolio Theory, the app dynamically generates the Efficient Frontier, showcasing optimal combinations of risk and return. Highlighting the "Minimum Risk Portfolio" with the lowest volatility and the "Optimal Risky Portfolio" maximizing the Sharpe ratio, it offers invaluable insights. Additionally, users gain clarity through correlation matrices and intuitive donut plots visualizing weight distributions. Elevate your investment strategy with precision and confidence using Portfolio Optimization.
            </p>
            <p class="card-text">
                This project was made with Python, JavaScript, the Django Framework, and the HTMX library.
            </p>
        </a>
    </div>
{% endblock content %}
