body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: black;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* You can replace this with your desired weight */
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url('/static/fonts/NotoColorEmoji.ttf') format('truetype');
}

#home-title {
  text-align: center;
}

.gradient-container {
  background: linear-gradient(to right, #e4d195, #ffc4da, #f83884, #8779e2);
  border-radius: 1em;
  padding: 0.2em; /* Adjust this value to control the size of the gradient border */
  margin: 1em;
}

#box-border {
  background-color: #1a1b20;
  border-radius: 1em;
  overflow: hidden;
}

#instructions {
  background-color: #1a1b20; /* Inherit the background color from #box-border */
  border-radius: 1em; /* Inherit the border-radius from #box-border */
  margin: 0;
  overflow: hidden;
}

#home-title-h1 {
  background: linear-gradient(to right, #e4d195, #ffc4da, #f83884, #8779e2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#instructions-title {
  background-color: #333333;
  padding: 0.1em;
  text-align: center;
  color: #8779e2;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#instructions-inner-content {
  padding: 1em; /* Add padding for better spacing */
}

ol li::marker {
  color: #f83884; /* Change the color of the numbers in ordered lists */
}

#instructions ul {
  list-style-type: square; /* Use square as the marker for unordered lists */
}

ul li::marker {
  color: #8779e2; /* Change the color of the bullets in unordered lists */
}

.red-star::marker {
  content: '★'; /* Unicode character for a star */
  color: red;
}

.green-star::marker {
  content: '★'; /* Unicode character for a star */
  color: green;
}

#search-bar-container {
  text-align: center;
  padding: 1em;
}

#search-bar-container input[type='text'] {
  width: 100%;
  height: 4em;
  border-radius: 0.5em;
  background-color: #1a1b20;
  color: white;
  font-size: 1em;
  text-indent: 30px;
}

#search-result-container {
  background-color: #1a1b20;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

#search-result-container ul {
  list-style-type: none;
}

#flag-span {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media screen and (min-width: 768px) {
  #instructions {
    margin: 0 auto;
  }
  .gradient-container {
    margin: 0 auto;
    max-width: 50%;
  }

  #search-bar-container input[type='text'] {
    width: 51%;
  }

  #search-result-container {
    margin: 0 auto;
    max-width: 45%;
  }
}
