{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Optimization</title>
    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Homepage</h1>

    <section>{% include "partials/search.html" %}</section>

    <section>
      <h2>Your Selected Tickers</h2>
      <div id="selected-tickers"></div>
    </section>

    <section>{% include "partials/date-inputs.html" %}</section>

    <section>
        <button
         hx-post="{% url "run-calculations" %}"
         hx-target="#calculation-results"
         hx-swap="outerHTML"
        >Run Calculations</button>
    </section>

    <section>
        <div id="calculation-results"></div>
    </section>

    <script>
        document.body.addEventListener('htmx:configRequest', event => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          });
    </script>
    <!-- JavaScript for dateUpdate -->
    <script src="{% static "js/dateUpdate.js" %}"></script>
  </body>
</html>
