{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Portfolio Optimization</title>
    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/po_home.css' %}" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Marcellus&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="home-title" class="title">
      <h1 id="home-title-h1">Portfolio Optimization</h1>
    </div>
    <div class="gradient-container">
      <div id="instructions" class="jumbotron">
        <div id="instructions-title" class="jumbotron-title">
          <h3 id="instructions-h3" class="title">Instructions</h3>
        </div>
        <div id="instructions-inner-content" class="jumbotron-inner-content">
          <ol>
            <li>Use the search bar to specify the stocks you want in your portfolio, selecting between 3 to 10 stocks from the S&P500 or the Chilean IPSA index.</li>
            <li>Define a date range for historical prices, ensuring it spans at least one year. The start-date must be after the year 2000, and the end-date should not exceed today's date.</li>
            <li>Press the "Run Calculations" button to initiate the analysis.</li>
            <li>Upon completion, review the following outputs:
              <ul>
                <li>The correlation matrix displaying the relationships between selected stocks.</li>
                <li>The efficient frontier graph, highlighting two critical points:
                  <ul>
                    <li class="red-star">A red star indicating the Minimum Volatility Portfolio.</li>
                    <li class="green-star">A green star representing the Optimal Risky Portfolio, identified by the highest Sharpe ratio.</li>
                  </ul>
                </li>
                <li>Two donut charts illustrating the weight allocations for both the Minimum Volatility and Optimal Risky portfolios.</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <section>{% include "partials/search.html" %}</section>

    <section>
      <div id="my-portfolio-container" class="gradient-container">
        <div class="jumbotron">
          <div class="jumbotron-title" id="my-portfolio-jumbotron-title">
            <h2 id="my-portfolio-title">My Portfolio</h2>
          </div>
          <div class="jumbotron-inner-content" id="my-portfolio-inner-content">
            <div id="selected-tickers"></div>
          </div>
        </div>
      </div>
    </section>

    <section>{% include "partials/date-inputs.html" %}</section>

    <section>
        <button
         id="run-calculations-btn"
         hx-post="{% url "run-calculations" %}"
         hx-target="#calculation-results"
         hx-swap="outerHTML"
         disabled
        >Optimize My Portfolio!</button>

    </section>

    <section>
      <div id="calculation-results"></div>
    </section>

    <script>
        document.body.addEventListener('htmx:configRequest', event => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          });
    </script>
    <!-- JavaScript for dateUpdate -->
    <script src="{% static "js/dateUpdate.js" %}"></script>
  </body>
</html>
