* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-item {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-item:nth-child(odd) {
  text-align: left;
}

.grid-item:nth-child(even) {
  text-align: right;
}

.bullet-list ul,
.grid-container h2,
.grid-container p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.bullet-list ul {
  display: none;
}
