* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marcellus';
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.messages {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.success-fadeout {
  background-color: #4caf50;
  color: white;
  animation: fadeOut 8s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  top: 0;
}

.nav-tab {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5 ease;
  font-size: 0.8rem;
}

.nav-tab:hover {
  color: white;
  background: #768ea3;
}

.nav-tab.active {
  color: white;
  background: #768ea3;
}

.tab-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  background: #768ea3;
  transition: width 0.3s ease, left 0.3s ease;
}

main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(-25deg, #616161 0%, #96b7c4 100%); */
}

@font-face {
  font-family: 'Brolia Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Brolia Regular'), url('Brolia.woff') format('woff');
}

@font-face {
  font-family: 'EleganzaPlain';
  src: local('EleganzaPlain'),
    url('/static/fonts/EleganzaPlain.otf') format('truetype');
}

.marcellus-regular {
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-style: normal;
}

#cool-name {
  font-family: 'Marcellus', serif;
}

.home-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  background: #768ea3;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: #fff;
  color: #768ea3;
}
button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #768ea3;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
