.home-container {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #999d9e;
}

p {
  padding: 2em;
}

main {
  background-color: #999d9e;
}

.marquee {
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-bottom: 2em;
}

.marquee span {
  display: inline-block;
  animation: marquee 2.7s linear;
  width: 99%;
  font-size: 12em;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#name-marquee {
  position: absolute;
  bottom: 0;
  padding-left: 1em;
  /* border: 1px solid black; */
}

#candlestick {
  position: absolute;
  bottom: 0;
  padding-left: 1em;

  /* padding-bottom: 5em; */
}

.download-cv-shape {
  width: 11em; /* Width of the rectangle */
  height: 6em; /* Height of the rectangle */
  background-color: #1c1d20; /* Background color of the rectangle */
  position: relative;
  top: 30%;
}

.download-cv-shape:hover::after {
  background-color: #e07d3f; /* Change the color to the desired one on hover */
}

.download-cv-shape::before {
  content: '';
  width: 100px; /* Width of the semicircle */
  height: 100%; /* Height of the semicircle */
  background-color: #1c1d20; /* Background color of the semicircle */
  border-radius: 0 50% 50% 0; /* Border radius for the semicircle */
  position: absolute;
  top: 0;
  right: -50px; /* Adjust position to maintain the semicircle */
}

.download-cv-shape::after {
  content: '';
  width: 40%; /* Width of the small circle */
  height: 70%; /* Height of the small circle */
  background-color: #999d9e; /* Background color of the small circle  #999d9e*/
  border-radius: 50%; /* Make it a circle */
  position: absolute;
  top: 50%;
  right: -18%; /* Adjust position to place it on the right */
  transform: translateY(-50%); /* Center vertically */
  align-items: right;
  z-index: 1;
  transition: all 0.8s ease-in-out;
}

.svg-container {
  position: absolute;
  top: 50%;
  right: -49%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.down-cv-text-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  /* font-weight: bold; */
}

#waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 700px;
  padding-bottom: 1em;
}
