* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2em;
}

.portfolio-title {
  padding: 2.5em;
  text-align: center;
}

.portfolio-container {
  max-width: 600px !important;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  background-color: rgb(235, 235, 235) !important;
  margin-bottom: 1em !important;
}

.card-title {
  padding-top: 1em;
  font-weight: bold;
}

.card-text {
  text-align: justify;
}

@media (max-width: 768px) {
  .card-img-top {
    max-width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
  }

  .portfolio-container {
    max-width: 350px !important;
  }
}
