@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Marcellus&display=swap');

@font-face {
  font-family: 'NeueHaasDisplayBlack';
  font-style: normal;
  font-weight: normal;
  src: local('NeueHaasDisplayBlack'),
    url('/static/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasDisplayLight';
  font-style: normal;
  font-weight: normal;
  src: local('NeueHaasDisplayLight'),
    url('/static/fonts/NeueHaasDisplayLight.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasDisplayLightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('NeueHaasDisplayLightItalic'),
    url('/static/fonts/NeueHaasDisplayLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasDisplayMedium';
  font-style: normal;
  font-weight: normal;
  src: local('NeueHaasDisplayMedium'),
    url('/static/fonts/NeueHaasDisplayMedium.ttf') format('truetype');
}

#spot-rates-form label {
  display: inline-block;
  width: 2em;
  margin-bottom: 0.5em;
}

#spot-rates-form input {
  width: 4em;
}

#discount-trigger,
#fix-leg-trigger,
#float-leg-trigger,
#fix-leg-pv-trigger,
#float-leg-pv-trigger,
#mtm-trigger {
  display: none;
}

#fix-leg-container table,
#float-leg-container table {
  border-collapse: collapse;
}

td {
  padding-left: 1em;
  padding-right: 1em;
}

#fix-leg-pv-container,
#float-leg-pv-container,
#mtm-container {
  color: #7f49a3;
  background-color: #141414;
}

#input-rates-form input {
  background-color: #ff9c29;
  font-family: 'Courier Prime', monospace;
}

#input-rates-form label {
  color: #ff9c29;
}

body {
  background-color: #141414;
  font-family: 'Courier Prime', monospace;
}

.top-title h1 {
  color: white;
  font-family: 'NeueHaasDisplayMedium';
}

.top-title h2 {
  color: white;
  font-family: 'NeueHaasDisplayLightItalic';
}

#download-df-button {
  background-color: #ff9c29;
  color: #141414;
  font-family: 'Courier Prime', monospace;
}

.grid-container {
  display: grid !important;
  grid-template-columns: auto 1fr !important;
  gap: 20px !important;
}

.input-container {
  max-width: 300px;
  grid-column: 1 / 2 !important;
}

.charts-container {
  grid-column: 2 / 3 !important;
}
