{% extends "_sm_base.html" %}
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sm_home.css' %}" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
{% endblock extra_css %}
{% block title %}
    Swap Manager
{% endblock title %}
{% block content %}
    <div class="top-title">
        <h1>Swap Manager</h1>
        <h2>USD vs SOFR - Swap Valuation</h2>
    </div>
    <div class="grid-container">
        <div class="input-container">
            <form id="input-rates-form">
                {% csrf_token %}
                <div id="spot-rates-form">
                    {% for curve_default in curve_defaults.keys %}
                        <label for="{{ curve_default }}">{{ curve_default }}</label>
                        <input type="number"
                               step="0.01"
                               name="{{ curve_default }}"
                               id="{{ curve_default }}"
                               hx-post="{% url 'generate_chart' %}"
                               hx-trigger="change"
                               hx-target="#chart-container"
                               min="-10"
                               max="10"
                               {% if True %}onkeyup=enforceMinMax(this){% endif %}>
                        <br>
                    {% endfor %}
                </div>
                <div id="swap-input-form">
                    {% for swap_default in swap_defaults %}
                        <label for="{{ swap_default }}">{{ swap_default }}</label>
                        <input type="number"
                               name="{{ swap_default }}"
                               id="{{ swap_default }}"
                               hx-post="{% url 'generate_chart' %}"
                               hx-trigger="change"
                               hx-target="#chart-container"
                               {% if swap_default == "flow-years" %}min="1" max="20" step="1" onkeyup=enforceMinMax(this) {% elif swap_default == "fix-rate" %}min="-10" max="10" step="0.01" onkeyup=enforceMinMax(this) {% elif swap_default == "notional" %}min="-1000000000" max="1000000000" step="100000" onkeyup=enforceMinMax(this){% endif %}>
                        <br>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="charts-container">
            <div>
                <div id="chart-container"></div>
            </div>
            <div>
                <form id="trigger-form">
                    {% csrf_token %}
                    <input type="number"
                           name="discount-trigger"
                           id="discount-trigger"
                           hx-post="{% url "discount_chart" %}"
                           hx-trigger="change"
                           hx-target="#discount-container">
                </form>
                <div id="discount-container"></div>
            </div>
            <div id="download-df-container">
                <form action="{% url "download_discount" %}" method="post">
                    {% csrf_token %}
                    <button id="download-df-button" type="submit">Download DF</button>
                </form>
            </div>
            <div id="cashflows-title">
                <h3>Cashflows</h3>
            </div>
            <div class="cashflows-container">
                <div class="cashflows-left-space"></div>
                <div class="cashflows-content-container">
                    <div>
                        <form id="trigger-fix-leg-form">
                            {% csrf_token %}
                            <input type="number"
                                   name="fix-leg-trigger"
                                   id="fix-leg-trigger"
                                   hx-post="{% url "generate_fix" %}"
                                   hx-trigger="change"
                                   hx-target="#fix-leg-container">
                        </form>
                        <form id="trigger-fix-leg-pv-form">
                            {% csrf_token %}
                            <input type="number"
                                   name="fix-leg-pv-trigger"
                                   id="fix-leg-pv-trigger"
                                   hx-post="{% url "fix_pv" %}"
                                   hx-trigger="change"
                                   hx-target="#fix-leg-pv-container">
                        </form>
                    </div>
                    <div>
                        <h4>Fix Leg</h4>
                        <div id="fix-leg-container"></div>
                        <div class="sum-title">
                            Fix Leg PV:
                            <div id="fix-leg-pv-container"></div>
                        </div>
                    </div>
                    <div>
                        <form id="trigger-float-leg-form">
                            {% csrf_token %}
                            <input type="number"
                                   name="float-leg-trigger"
                                   id="float-leg-trigger"
                                   hx-post="{% url "generate_float" %}"
                                   hx-trigger="change"
                                   hx-target="#float-leg-container">
                        </form>
                        <form id="trigger-float-leg-pv-form">
                            {% csrf_token %}
                            <input type="number"
                                   name="float-leg-pv-trigger"
                                   id="float-leg-pv-trigger"
                                   hx-post="{% url "float_pv" %}"
                                   hx-trigger="change"
                                   hx-target="#float-leg-pv-container">
                        </form>
                    </div>
                    <div>
                        <h4>Float Leg</h4>
                        <div id="float-leg-container"></div>
                        <div class="sum-title">
                            Float Leg PV:
                            <div id="float-leg-pv-container"></div>
                        </div>
                    </div>
                    <div>
                        <form id="trigger-mtm-form">
                            {% csrf_token %}
                            <input type="number"
                                   name="mtm-trigger"
                                   id="mtm-trigger"
                                   hx-post="{% url "mtm" %}"
                                   hx-trigger="change"
                                   hx-target="#mtm-container">
                        </form>
                    </div>
                    <div class="sum-title" id="sum-mtm">
                        MTM :
                        <div id="mtm-container"></div>
                    </div>
                </div>
                <div class="cashflows-right-space"></div>
            </div>
        </div>
    </div>
    <!-- Script para asegurarme de que no pongan valores inapropiados -->
    <script src="{% static "js/enforce.js" %}"></script>
    <!-- Asigno tenors_json a una variable JavaScript -->
    <script>
        const curveDefaultsJson = {{ curve_defaults_json|safe }};
        const swapDefaultsJson = {{ swap_defaults_json|safe }};
    </script>
    <!-- JavaScript for initial rates -->
    <script src="{% static "js/initialConditions.js" %}"></script>
    <!-- JavaScript to trigger the discount chart-->
    <script src="{% static "js/triggers.js" %}"></script>
{% endblock content %}
