{% extends "_sm_base.html" %}
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sm_home.css' %}" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
{% endblock extra_css %}
{% block title %}
    Swap Manager - Home
{% endblock title %}
{% block content %}
    <div class="top-title">
        <h1>Swap Manager Home</h1>
    </div>
    <div class="curve-container">
        <div id="spot-rates-container">
            <form id="spot-rates-form">
                {% csrf_token %}
                {% for curve_default in curve_defaults.keys %}
                    <label for="{{ curve_default }}">{{ curve_default }}</label>
                    <input type="number"
                           step="0.01"
                           name="{{ curve_default }}"
                           id="{{ curve_default }}"
                           hx-post="{% url 'generate_chart' %}"
                           hx-trigger="change"
                           hx-target="#chart-container">
                    <br>
                {% endfor %}
                {% for swap_default in swap_defaults %}
                    <label for="{{ swap_default }}">{{ swap_default }}</label>
                    <input type="number"
                           name="{{ swap_default }}"
                           id="{{ swap_default }}"
                           hx-post="{% url 'generate_chart' %}"
                           hx-trigger="change"
                           hx-target="#chart-container">
                    <br>
                {% endfor %}
            </form>
        </div>
    </div>
    <div>
        <div id="chart-container"></div>
    </div>
    <div>
        <form id="trigger-form">
            {% csrf_token %}
            <input type="number"
                   name="discount-trigger"
                   id="discount-trigger"
                   hx-post="{% url "discount_chart" %}"
                   hx-trigger="change"
                   hx-target="#discount-container">
        </form>
        <div id="discount-container"></div>
    </div>
    <div>
        <form action="{% url "download_discount" %}" method="post">
            {% csrf_token %}
            <button type="submit">Download Excel</button>
        </form>
    </div>
    <div>
        <form id="trigger-fix-leg-form">
            {% csrf_token %}
            <input type="number"
                   name="fix-leg-trigger"
                   id="fix-leg-trigger"
                   hx-post="{% url "generate_swap" %}"
                   hx-trigger="change"
                   hx-target="#fix-leg-container">
        </form>
    </div>
    <div>
        <div id="fix-leg-container"></div>
    </div>
    <!-- Asigno tenors_json a una variable JavaScript -->
    <script>
        const curveDefaultsJson = {{ curve_defaults_json|safe }};
        const swapDefaultsJson = {{ swap_defaults_json|safe }};
    </script>
    <!-- JavaScript for initial rates -->
    <script src="{% static "js/initialConditions.js" %}"></script>
    <!-- JavaScript to trigger the discount chart-->
    <script src="{% static "js/triggerDiscount.js" %}"></script>
    <!-- JavaScript to trigger the fix leg-->
    <script src="{% static "js/triggerFixLeg.js" %}"></script>
{% endblock content %}
