{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Personal website of Marcelo Barrero - Quantitative Trader">
    <meta name="keywords" content="quant,trader" />
    <meta
      property="og:title"
      content="Marcelo Barrero · Quant Trader"
    />
    <meta
      property="og:description"
      content="Marcelo Barrero's personal website and project portfolio."
    />
    <meta
      property="og:image"
      content="{% static 'images/marcelo_whatsapp.png'%}"
    />
    <meta property="og:url" content="https://www.marcelobarrero.com/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Marcelo Barrero · Quant Trader"
    />
    <meta
      name="twitter:description"
      content="Marcelo Barrero's personal website and project portfolio."
    />
    <meta
      name="twitter:image"
      content="{% static 'images/marcelo_whatsapp.png'%}"
    />
    <title>
      {% block title %}
        Marcelo Barrero
      {% endblock title %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <!-- Aditional CSS files -->
    {% block extra_css %}
    {% endblock extra_css %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap"
          rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="tabs-container">
          <a id="tab-home" class="nav-tab" href="{% url "home" %}">Home</a>
          <a id="tab-about"class="nav-tab" href="{% url "about" %}">About</a>
          <a id="tab-portfolio" class="nav-tab" href="{% url "portfolio" %}">Portfolio</a>
          <a id="tab-contact" class="nav-tab" href="{% url "contact" %}">Contact</a>
          <span class="tab-slider"></span>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <!-- JavaScript -->
    <script src="{% static 'js/tab.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
  </body>
</html>
