<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A calculator for pricing USD vs SOFR interest rate swaps.">
        <meta name="keywords" content="swap,valuation" />
        <meta property="og:title" content="Marcelo Barrero · Swap Manager" />
        <meta
        property="og:description"
        content="A calculator for pricing USD vs SOFR interest rate swaps."
        />
        <meta
        property="og:image"
        content="{% static 'images/swpm.jpeg'%}"
        />
        <meta property="og:url" content="https://www.marcelobarrero.com/swap-manager/" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
        name="twitter:title"
        content="Marcelo Barrero · Swap Manager"
        />
        <meta
        name="twitter:description"
        content="A calculator for pricing USD vs SOFR interest rate swaps."
        />
        <meta
        name="twitter:image"
        content="{% static 'images/swpm.jpeg'%}"
        />
        <title>
            {% block title %}
                Swap Manager
            {% endblock title %}
        </title>
        <!-- Aditional CSS files -->
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
